In [1]:
# 1. Variable Swap: Swap the values of two variables without using a temporary variable.
x = 5
y = 10
x, y = y, x
print("x:", x, "y:", y)

x: 10 y: 5

In [2]:
# 2. Even or Odd: Check if an integer is even or odd.
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 34
Even

In [3]:
# 3. String Reverse: Reverse a given string.
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

In [4]:
# 4. Type Conversion: Convert each element of the list of integers to a string.
nums = [1, 2, 3, 4]
str_nums = [str(num) for num in nums]
print(str_nums)

['1', '2', '3', '4']

In [5]:
# 5. Temperature Converter: Convert Celsius to Fahrenheit.
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"Temperature in Fahrenheit: {fahrenheit}")

Enter temperature in Celsius: 45
Temperature in Fahrenheit: 113.0

In [6]:
# 6. Data Type Checker: Return the data type of a variable as a string.
def check_type(var):
    return str(type(var))

print(check_type(10))
print(check_type("Hello"))

<class 'int'>
<class 'str'>

In [7]:
# 7. String Length: Print the length of a given string.
def string_length(s):
    return len(s)

print(string_length("Hello, World!"))

13

In [8]:
# 8. Palindrome Checker: Check if a string is a palindrome.
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))

True

In [9]:
# 9. Factorial: Calculate the factorial of a given number.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [10]:
# 10. Fibonacci Sequence: Print the Fibonacci sequence up to n numbers.
def fibonacci(n):
    fib_seq = [0, 1]
    for i in range(2, n):
        fib_seq.append(fib_seq[i-1] + fib_seq[i-2])
    return fib_seq

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [11]:
# 11. Positive, Negative, or Zero:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: -45
Negative

In [12]:
# 12. Largest of Three Numbers:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
largest = max(a, b, c)
print("The largest number is:", largest)

Enter first number: 34
Enter second number: 56
Enter third number: 12
The largest number is: 56.0

In [13]:
# 14. Grades Classification:
percentage = float(input("Enter the student's percentage: "))
if percentage >= 90:
    print("Grade: A+")
elif percentage >= 80:
    print("Grade: A")
elif percentage >= 70:
    print("Grade: B")
elif percentage >= 60:
    print("Grade: C")
else:
    print("Fail")

Enter the student's percentage: 46
Fail

In [14]:
# 15. Vowel or Consonant:
char = input("Enter a single character: ").lower()
if char in 'aeiou':
    print(f"{char} is a vowel.")
else:
    print(f"{char} is a consonant.")

Enter a single character: e
e is a vowel.

In [15]:
# 16. Time Classification:
hour = int(input("Enter the time in hours (24-hour format): "))
if 5 <= hour < 12:
    print("Good Morning")
elif 12 <= hour < 17:
    print("Good Afternoon")
elif 17 <= hour < 21:
    print("Good Evening")
else:
    print("Good Night")

Enter the time in hours (24-hour format): 11
Good Morning

In [16]:
# 17. Triangle Type Checker:
a = float(input("Enter side 1 of the triangle: "))
b = float(input("Enter side 2 of the triangle: "))
c = float(input("Enter side 3 of the triangle: "))
if a == b == c:
    print("Equilateral triangle")
elif a == b or b == c or a == c:
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Enter side 1 of the triangle: 5.5
Enter side 2 of the triangle: 5.3
Enter side 3 of the triangle: 4
Scalene triangle

In [17]:
# 18. Quadratic Equation Solver:
import math

a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

discriminant = b**2 - 4*a*c

if discriminant > 0:
    root1 = (-b + math.sqrt(discriminant)) / (2*a)
    root2 = (-b - math.sqrt(discriminant)) / (2*a)
    print(f"Real and different roots: {root1} and {root2}")
elif discriminant == 0:
    root = -b / (2*a)
    print(f"Real and same root: {root}")
else:
    real_part = -b / (2*a)
    imaginary_part = math.sqrt(abs(discriminant)) / (2*a)
    print(f"Complex roots: {real_part} + {imaginary_part}i and {real_part} - {imaginary_part}i")

Enter coefficient a: 5.5
Enter coefficient b: 6.5
Enter coefficient c: 4.6
Complex roots: -0.5909090909090909 + 0.6979900304765305i and -0.5909090909090909 - 0.6979900304765305i

In [18]:
# 19. Number Ranges:
num = int(input("Enter a number: "))
if 0 <= num <= 50:
    print("Number is in the range 0-50.")
elif 51 <= num <= 100:
    print("Number is in the range 51-100.")
elif 101 <= num <= 150:
    print("Number is in the range 101-150.")
else:
    print("Number is above 150.")

Enter a number: 49
Number is in the range 0-50.

In [19]:
# 20. Sum of N Numbers:
N = int(input("Enter a number: "))
sum_numbers = 0
for i in range(1, N+1):
    sum_numbers += i
print("Sum of first", N, "natural numbers is:", sum_numbers)

Enter a number: 44
Sum of first 44 natural numbers is: 990

In [20]:
# 21. Factorial Calculator:
N = int(input("Enter a number: "))
factorial = 1
while N > 0:
    factorial *= N
    N -= 1
print("Factorial is:", factorial)

Enter a number: 34
Factorial is: 295232799039604140847618609643520000000

In [21]:
# 22. Table of a Number:
N = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{N} x {i} = {N*i}")

Enter a number: 32
32 x 1 = 32
32 x 2 = 64
32 x 3 = 96
32 x 4 = 128
32 x 5 = 160
32 x 6 = 192
32 x 7 = 224
32 x 8 = 256
32 x 9 = 288
32 x 10 = 320

In [22]:
# 23. Count Digits in a Number:
N = int(input("Enter a number: "))
count = 0
while N != 0:
    N //= 10
    count += 1
print("Number of digits:", count)

Enter a number: 20
Number of digits: 2

In [23]:
# 24. Fibonacci Sequence:
N = int(input("Enter the limit for Fibonacci sequence: "))
a, b = 0, 1
for i in range(N):
    print(a, end=" ")
    a, b = b, a + b

Enter the limit for Fibonacci sequence: 234
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026 354224848179261915075 573147844013817084101 927372692193078999176 1500520536206896083277 2427893228399975082453 3928413764606871165730 6356306993006846248183 10284720757613717413913 16641027750620563662096 26925748508234281076009 43566776258854844738105 70492524767089125814114 114059301025943970552219 184551825793033096366333 298611126818977066918552 483162952612010163284885 781774079430987230203437 1264937032042997393488322 2046711111473984623691759 3311648143516982017180081 5358359254990966640871840 8670007398507948658051921 14028366653498915298923761 22698374052006863956975682 36726740705505779255899443 59425114757512643212875125 96151855463018422468774568 155576970220531065681649693 251728825683549488150424261 407305795904080553832073954 659034621587630041982498215 1066340417491710595814572169 1725375039079340637797070384 2791715456571051233611642553 4517090495650391871408712937 7308805952221443105020355490 11825896447871834976429068427 19134702400093278081449423917 30960598847965113057878492344 50095301248058391139327916261 81055900096023504197206408605 131151201344081895336534324866 212207101440105399533740733471 343358302784187294870275058337 555565404224292694404015791808 898923707008479989274290850145 1454489111232772683678306641953 2353412818241252672952597492098 3807901929474025356630904134051 6161314747715278029583501626149 9969216677189303386214405760200 16130531424904581415797907386349 26099748102093884802012313146549 42230279526998466217810220532898 68330027629092351019822533679447 110560307156090817237632754212345 178890334785183168257455287891792 289450641941273985495088042104137 468340976726457153752543329995929 757791618667731139247631372100066 1226132595394188293000174702095995 1983924214061919432247806074196061 3210056809456107725247980776292056 5193981023518027157495786850488117 8404037832974134882743767626780173 13598018856492162040239554477268290 22002056689466296922983322104048463 35600075545958458963222876581316753 57602132235424755886206198685365216 93202207781383214849429075266681969 150804340016807970735635273952047185 244006547798191185585064349218729154 394810887814999156320699623170776339 638817435613190341905763972389505493 1033628323428189498226463595560281832 1672445759041379840132227567949787325 2706074082469569338358691163510069157 4378519841510949178490918731459856482 7084593923980518516849609894969925639 11463113765491467695340528626429782121 18547707689471986212190138521399707760 30010821454963453907530667147829489881 48558529144435440119720805669229197641 78569350599398894027251472817058687522 127127879743834334146972278486287885163 205697230343233228174223751303346572685 332825110087067562321196029789634457848 538522340430300790495419781092981030533 871347450517368352816615810882615488381 1409869790947669143312035591975596518914 2281217241465037496128651402858212007295 3691087032412706639440686994833808526209 5972304273877744135569338397692020533504 9663391306290450775010025392525829059713 15635695580168194910579363790217849593217 25299086886458645685589389182743678652930 40934782466626840596168752972961528246147 66233869353085486281758142155705206899077 107168651819712326877926895128666735145224 173402521172797813159685037284371942044301 280571172992510140037611932413038677189525 453973694165307953197296969697410619233826 734544867157818093234908902110449296423351 1188518561323126046432205871807859915657177 1923063428480944139667114773918309212080528 3111581989804070186099320645726169127737705 5034645418285014325766435419644478339818233 8146227408089084511865756065370647467555938 13180872826374098837632191485015125807374171 21327100234463183349497947550385773274930109 34507973060837282187130139035400899082304280 55835073295300465536628086585786672357234389 90343046356137747723758225621187571439538669 146178119651438213260386312206974243796773058 236521166007575960984144537828161815236311727 382699285659014174244530850035136059033084785 619220451666590135228675387863297874269396512 1001919737325604309473206237898433933302481297 1621140188992194444701881625761731807571877809 2623059926317798754175087863660165740874359106 4244200115309993198876969489421897548446236915 6867260041627791953052057353082063289320596021 11111460156937785151929026842503960837766832936 17978720198565577104981084195586024127087428957 29090180355503362256910111038089984964854261893 47068900554068939361891195233676009091941690850 76159080909572301618801306271765994056795952743 123227981463641240980692501505442003148737643593 199387062373213542599493807777207997205533596336 322615043836854783580186309282650000354271239929 522002106210068326179680117059857997559804836265 844617150046923109759866426342507997914076076194 1366619256256991435939546543402365995473880912459 2211236406303914545699412969744873993387956988653

In [24]:
# 25. Sum of Even Numbers:
N = int(input("Enter a number: "))
sum_even = 0
i = 2
while i <= N:
    sum_even += i
    i += 2
print("Sum of even numbers:", sum_even)

Enter a number: 34
Sum of even numbers: 306

In [25]:
# 26. Print Patterns:
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    print('*' * i)
for i in range(rows, 0, -1):
    print('*' * i)

Enter number of rows: 4
*
**
***
****
****
***
**
*

In [26]:
# 27. Prime Number Checker:
N = int(input("Enter a number: "))
i = 2
is_prime = True
while i <= N // 2:
    if N % i == 0:
        is_prime = False
        break
    i += 1

if is_prime and N > 1:
    print(N, "is a prime number.")
else:
    print(N, "is not a prime number.")

Enter a number: 6
6 is not a prime number.

In [27]:
# 28. List Manipulation:
numbers = list(map(int, input("Enter a list of integers: ").split()))
sum_numbers = sum(numbers)
average = sum_numbers / len(numbers)
max_num = max(numbers)
min_num = min(numbers)

print("Sum:", sum_numbers)
print("Average:", average)
print("Maximum:", max_num)
print("Minimum:", min_num)

Enter a list of integers: 3 5 6 7 2 3 4
Sum: 30
Average: 4.285714285714286
Maximum: 7
Minimum: 2

In [28]:
# 29. Reverse String:
string = input("Enter a string: ")
reversed_string = ""
index = len(string) - 1
while index >= 0:
    reversed_string += string[index]
    index -= 1
print("Reversed string:", reversed_string)

Enter a string: hello rownuk
Reversed string: kunwor olleh

In [29]:
# 30. Multiplication Table:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}", end="\t")
    print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

In [30]:
# 31. Print Patterns:
rows = 5
for i in range(1, rows + 1):
    print('*' * i)

*
**
***
****
*****

In [31]:
# 32. Matrix Multiplication:
def multiply_matrices(A, B):
    result = [[0, 0], [0, 0]]
    for i in range(len(A)):
        for j in range(len(B[0])):
            for k in range(len(B)):
                result[i][j] += A[i][k] * B[k][j]
    return result

A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]

result = multiply_matrices(A, B)
print("Result of matrix multiplication:")
for row in result:
    print(row)

Result of matrix multiplication:
[19, 22]
[43, 50]

In [32]:
# 33. Chessboard Pattern:
size = 8
for i in range(size):
    for j in range(size):
        if (i + j) % 2 == 0:
            print("X", end="")
        else:
            print("O", end="")
    print()

XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX

In [33]:
# 33. Number Pyramid:
rows = 5
for i in range(1, rows + 1):
    print(str(i) * i)

1
22
333
4444
55555

In [34]:
# 34. List Sum:
numbers = list(map(int, input("Enter a list of integers: ").split()))
list_sum = sum(numbers)
print("Sum of elements:", list_sum)

Enter a list of integers: 3 5 3 2 6
Sum of elements: 19

In [35]:
# 36. List Max and Min:
numbers = list(map(int, input("Enter a list of integers: ").split()))
max_num = max(numbers)
min_num = min(numbers)
print("Maximum:", max_num)
print("Minimum:", min_num)

Enter a list of integers: 3 5 6 7 8 3 4
Maximum: 8
Minimum: 3

In [36]:
# 37. List Sorting:
numbers = list(map(int, input("Enter a list of integers: ").split()))
numbers.sort()
print("Sorted list:", numbers)

Enter a list of integers: 3 4 5 7 2 5
Sorted list: [2, 3, 4, 5, 5, 7]

In [37]:
# 38. List Filtering:
numbers = list(map(int, input("Enter a list of integers: ").split()))
even_numbers = [num for num in numbers if num % 2 == 0]
print("Even numbers:", even_numbers)

Enter a list of integers: 3 4 5 6 7 8 5
Even numbers: [4, 6, 8]

In [38]:
# 39. List Reversal:
numbers = list(map(int, input("Enter a list of integers: ").split()))
reversed_list = []
for num in numbers:
    reversed_list.insert(0, num)
print("Reversed list:", reversed_list)

Enter a list of integers: 2 3 9 8 7 3 4
Reversed list: [4, 3, 7, 8, 9, 3, 2]

In [39]:
# 40. List Manipulation:
list1 = list(map(int, input("Enter the first list of integers: ").split()))
list2 = list(map(int, input("Enter the second list of integers: ").split()))
common_elements = [elem for elem in list1 if elem in list2]
print("Common elements:", common_elements)

Enter the first list of integers: 3 4 6 2 3 4
Enter the second list of integers: 4 5 6 3 4 2
Common elements: [3, 4, 6, 2, 3, 4]

In [40]:
# 41. List Element Count:
numbers = list(map(int, input("Enter a list of integers: ").split()))
element = int(input("Enter the element to count: "))
count = numbers.count(element)
print(f"Element {element} occurs {count} times.")

Enter a list of integers: 3 4 1 2 3
Enter the element to count: 2
Element 2 occurs 1 times.

In [41]:
# 42. List Duplicates Removal:
numbers = list(map(int, input("Enter a list of integers: ").split()))
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)
print("List without duplicates:", unique_numbers)

Enter a list of integers: 4 4 5 3 4 5 6
List without duplicates: [4, 5, 3, 6]

In [42]:
# 43. List Comprehension:
numbers = list(map(int, input("Enter a list of integers: ").split()))
squared_numbers = [num ** 2 for num in numbers]
print("Squared numbers:", squared_numbers)

Enter a list of integers: 4 5 6 7 8 9 2
Squared numbers: [16, 25, 36, 49, 64, 81, 4]

In [43]:
# 44. Matrix Addition:
def matrix_addition(matrix1, matrix2):
    result = []
    for i in range(len(matrix1)):
        row = [matrix1[i][j] + matrix2[i][j] for j in range(len(matrix1[0]))]
        result.append(row)
    return result

matrix1 = [[1, 2], [3, 4]]
matrix2 = [[5, 6], [7, 8]]
result = matrix_addition(matrix1, matrix2)
print("Matrix Addition Result:", result)

Matrix Addition Result: [[6, 8], [10, 12]]

In [44]:
# 45. Flatten Nested List:
def flatten_list(nested_list):
    flat_list = []
    for sublist in nested_list:
        if isinstance(sublist, list):
            flat_list.extend(flatten_list(sublist))
        else:
            flat_list.append(sublist)
    return flat_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]
flattened = flatten_list(nested_list)
print("Flattened List:", flattened)

Flattened List: [1, 2, 3, 4, 5, 6, 7]

In [45]:
# 46. List Element Frequency:
from collections import Counter

def count_frequency(nested_list):
    flat_list = flatten_list(nested_list)
    return dict(Counter(flat_list))

nested_list = [[1, 2, 2], [3, 4, 1], [2, 5]]
frequency = count_frequency(nested_list)
print("Element Frequency:", frequency)

Element Frequency: {1: 2, 2: 3, 3: 1, 4: 1, 5: 1}

In [46]:
# 47. Transpose Matrix:
def transpose_matrix(matrix):
    return [list(row) for row in zip(*matrix)]

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = transpose_matrix(matrix)
print("Transposed Matrix:", transposed)

Transposed Matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [47]:
# 48. List of Lists Concatenation:
nested_lists = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_lists for item in sublist]
print("Concatenated List:", flat_list)

Concatenated List: [1, 2, 3, 4, 5, 6]

In [48]:
# 49. Tuple Concatenation:
tuple1 = (1, 2)
tuple2 = (3, 4)
concatenated_tuple = tuple1 + tuple2
print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (1, 2, 3, 4)

In [49]:
# 50. Tuple Unpacking:
tuple_data = (1, 2, 3)
x, y, z = tuple_data
print(f"x = {x}, y = {y}, z = {z}")

x = 1, y = 2, z = 3

In [50]:
# 51. Tuple Sorting:
tuple_data = (3, 1, 4, 1, 5, 9)
sorted_tuple = tuple(sorted(tuple_data))
print("Sorted Tuple:", sorted_tuple)

Sorted Tuple: (1, 1, 3, 4, 5, 9)

In [51]:
# 52. Tuple Frequency Count:
tuple_data = (1, 2, 2, 3, 4, 2, 5)
element = 2
count = tuple_data.count(element)
print(f"Element {element} occurs {count} times.")

Element 2 occurs 3 times.

In [52]:
# 53. Tuple to List:
tuple_data = (1, 2, 3)
list_data = list(tuple_data)
print("Converted List:", list_data)

Converted List: [1, 2, 3]

In [53]:
# 54. Tuple Reversal:
tuple_data = (1, 2, 3, 4)
reversed_tuple = tuple_data[::-1]
print("Reversed Tuple:", reversed_tuple)

Reversed Tuple: (4, 3, 2, 1)

In [54]:
# 55. Tuple Slicing:
tuple_data = (1, 2, 3, 4, 5, 6)
sliced_tuple = tuple_data[2:5]
print("Sliced Tuple:", sliced_tuple)

Sliced Tuple: (3, 4, 5)

In [55]:
# 56. Tuple Operations:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

addition = tuple(a + b for a, b in zip(tuple1, tuple2))
subtraction = tuple(a - b for a, b in zip(tuple1, tuple2))
multiplication = tuple(a * b for a, b in zip(tuple1, tuple2))

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)

Addition: (5, 7, 9)
Subtraction: (-3, -3, -3)
Multiplication: (4, 10, 18)

In [56]:
# 57. Tuple Membership Test:
tuple_data = (1, 2, 3, 4, 5)
element = int(input("Enter an element to check: "))
if element in tuple_data:
    print(f"{element} exists in the tuple.")
else:
    print(f"{element} does not exist in the tuple.")

Enter an element to check: 4
4 exists in the tuple.

In [57]:
# 58. Tuple Packing:
x, y, z = 1, 2, 3
packed_tuple = (x, y, z)
print("Packed Tuple:", packed_tuple)

Packed Tuple: (1, 2, 3)

In [58]:
# 59. Nested List Element Access:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
element = nested_list[1][2]
print("Accessed Element:", element)

Accessed Element: 6

In [59]:
# 60. Nested List Flattening:
def flatten_list(nested_list):
    flat_list = []
    for sublist in nested_list:
        if isinstance(sublist, list):
            flat_list.extend(flatten_list(sublist))
        else:
            flat_list.append(sublist)
    return flat_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]
flattened = flatten_list(nested_list)
print("Flattened List:", flattened)

Flattened List: [1, 2, 3, 4, 5, 6, 7]

In [60]:
# 61. Nested List Sorting:
nested_list = [[1, 2], [3, 4, 5], [6]]
sorted_list = sorted(nested_list, key=len)
print("Sorted Nested List:", sorted_list)

Sorted Nested List: [[6], [1, 2], [3, 4, 5]]

In [61]:
# 62. List of Tuples Conversion:
nested_list = [(1, 2), (3, 4), (5, 6)]
x_coords = [x for x, y in nested_list]
y_coords = [y for x, y in nested_list]
print("X Coordinates:", x_coords)
print("Y Coordinates:", y_coords)

X Coordinates: [1, 3, 5]
Y Coordinates: [2, 4, 6]

In [62]:
# 63. Matrix Transpose:
def transpose_matrix(matrix):
    return [list(row) for row in zip(*matrix)]

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = transpose_matrix(matrix)
print("Transposed Matrix:", transposed)

Transposed Matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [63]:
# 64. Nested List Concatenation:
nested_lists = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_lists for item in sublist]
print("Concatenated List:", flat_list)

Concatenated List: [1, 2, 3, 4, 5, 6]

In [64]:
# 65. Count Even Numbers:
def count_even_numbers(nested_list):
    return sum(1 for sublist in nested_list for num in sublist if num % 2 == 0)

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even_count = count_even_numbers(nested_list)
print("Number of Even Numbers:", even_count)

Number of Even Numbers: 4

In [65]:
# 66. Maximum Element in Nested List:
nested_list = [[1, 2], [3, 4], [5, 6]]
max_element = max(max(sublist) for sublist in nested_list)
print("Maximum Element:", max_element)

Maximum Element: 6

In [66]:
# 67. Diagonal Sum of Matrix:
def diagonal_sum(matrix):
    return sum(matrix[i][i] for i in range(len(matrix)))

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum_diagonal = diagonal_sum(matrix)
print("Sum of Diagonal Elements:", sum_diagonal)

Sum of Diagonal Elements: 15

In [67]:
# 68. Nested List Element Search:
def search_element(nested_list, target):
    for i, row in enumerate(nested_list):
        for j, val in enumerate(row):
            if val == target:
                return (i, j)
    return None

nested_list = [[1, 2], [3, 4], [5, 6]]
target = 4
position = search_element(nested_list, target)
print("Element Position:", position)

Element Position: (1, 1)

In [68]:
# 69. Duplicate Removal:
def remove_duplicates(input_list):
    return set(input_list)

input_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = remove_duplicates(input_list)
print("Unique Elements:", unique_elements)

Unique Elements: {1, 2, 3, 4, 5}

In [69]:
# 70. Set Intersection:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
intersection = set_a & set_b
print("Intersection:", intersection)

Intersection: {3, 4}

In [70]:
# 71. Set Union:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union = set_a | set_b
print("Union:", union)

Union: {1, 2, 3, 4, 5}

In [71]:
# 72. Set Difference:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
difference = set_a - set_b
print("Difference (A - B):", difference)

Difference (A - B): {1, 2}

In [72]:
# 73. Set Symmetric Difference:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
symmetric_difference = set_a ^ set_b
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 4, 5}

In [73]:
# 74. Set Operations:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
set_c = {5, 6, 7}

intersection_ab = set_a & set_b
union_bc = set_b | set_c
difference_ca = set_c - set_a

print("Intersection of A and B:", intersection_ab)
print("Union of B and C:", union_bc)
print("Difference of C and A:", difference_ca)

Intersection of A and B: {3}
Union of B and C: {3, 4, 5, 6, 7}
Difference of C and A: {5, 6, 7}

In [74]:
# 75. Set Subset Check:
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
is_subset = set_a.issubset(set_b)
print("Set A is a subset of Set B:", is_subset)

Set A is a subset of Set B: True

In [75]:
# 76. Set Superset Check:
set_a = {1, 2, 3, 4, 5}
set_b = {2, 3}
is_superset = set_a.issuperset(set_b)
print("Set A is a superset of Set B:", is_superset)

Set A is a superset of Set B: True

In [76]:
# 77. Set Length Check:
my_set = {1, 2, 3, 4, 5}
set_length = len(my_set)
print("Number of elements in the set:", set_length)

Number of elements in the set: 5

In [77]:
# 78. Set Membership Test:
my_set = {1, 2, 3, 4, 5}
element = int(input("Enter an element to check: "))
if element in my_set:
    print("Found")
else:
    print("Not Found")

Enter an element to check: 5
Found

In [78]:
# 79. Dictionary Manipulation:
student_scores = {'Alice': 85, 'Bob': 90, 'Charlie': 78}
student_scores['David'] = 92
student_scores['Alice'] = 88
print("Updated Dictionary:", student_scores)

Updated Dictionary: {'Alice': 88, 'Bob': 90, 'Charlie': 78, 'David': 92}

In [79]:
# 80. Dictionary Keys and Values:
student_scores = {'Alice': 85, 'Bob': 90, 'Charlie': 78}
print("Keys:")
for key in student_scores.keys():
    print(key)
print("Values:")
for value in student_scores.values():
    print(value)

Keys:
Alice
Bob
Charlie
Values:
85
90
78

In [80]:
# 81. Dictionary Length:
student_scores = {'Alice': 85, 'Bob': 90, 'Charlie': 78}
length = len(student_scores)
print("Number of key-value pairs:", length)

Number of key-value pairs: 3

In [81]:
# 82. Dictionary Value Search:
item_prices = {'apple': 2, 'banana': 1, 'orange': 3}
search_price = int(input("Enter the price to search: "))
found = False
for item, price in item_prices.items():
    if price == search_price:
        print("Item found:", item)
        found = True
        break
if not found:
    print("Item with the given price not found.")

Enter the price to search: 3
Item found: orange

In [82]:
# 83. Dictionary Merging:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = {**dict1, **dict2}
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [83]:
# 84. Dictionary Key Removal:
items = {'apple': 5, 'banana': 3, 'orange': 8}
item_to_remove = input("Enter the item to remove: ")
if item_to_remove in items:
    del items[item_to_remove]
    print(f"{item_to_remove} removed. Updated dictionary:", items)
else:
    print("Item not found.")

Enter the item to remove: apple
apple removed. Updated dictionary: {'banana': 3, 'orange': 8}

In [84]:
# 85. Dictionary Sorting:
people = {'Alice': 30, 'Bob': 25, 'Charlie': 35}
sorted_people = dict(sorted(people.items(), key=lambda item: item[1]))
print("Sorted Dictionary by Age:", sorted_people)

Sorted Dictionary by Age: {'Bob': 25, 'Alice': 30, 'Charlie': 35}

In [85]:
# 86. Dictionary Frequency Count:
input_string = input("Enter a string: ")
char_frequency = {}
for char in input_string:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1
print("Character Frequency:", char_frequency)

Enter a string: hi world
Character Frequency: {'h': 1, 'i': 1, ' ': 1, 'w': 1, 'o': 1, 'r': 1, 'l': 1, 'd': 1}

In [86]:
# 87. Dictionary Comprehension:
numbers = [1, 2, 3, 4, 5]
squares = {num: num ** 2 for num in numbers}
print("Dictionary of Squares:", squares)

Dictionary of Squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [87]:
# 88. Dictionary Key Check:
student_scores = {'Alice': 85, 'Bob': 90, 'Charlie': 78}
key_to_check = input("Enter the key to check: ")
if key_to_check in student_scores:
    print("Key Found")
else:
    print("Key Not Found")

Enter the key to check: Alice
Key Found

In [88]:
# 89. Access Nested Dictionary:
student_details = {
    'Alice': {'age': 21, 'address': 'New York'},
    'Bob': {'age': 22, 'address': 'California'}
}
name = input("Enter the student's name: ")
if name in student_details:
    print(f"Name: {name}, Age: {student_details[name]['age']}, Address: {student_details[name]['address']}")
else:
    print("Student not found.")

Enter the student's name: Bob
Name: Bob, Age: 22, Address: California

In [89]:
# 90. Nested Dictionary Length:
nested_dict = {
    'Alice': {'age': 21, 'address': 'New York'},
    'Bob': {'age': 22, 'address': 'California'}
}
length = sum(len(value) for value in nested_dict.values())
print("Total number of key-value pairs:", length)

Total number of key-value pairs: 4

In [90]:
# 91. Nested Dictionary Update:
employee_details = {
    'E001': {'name': 'Alice', 'salary': 5000},
    'E002': {'name': 'Bob', 'salary': 6000}
}
employee_id = input("Enter the employee ID: ")
new_salary = int(input("Enter the new salary: "))
if employee_id in employee_details:
    employee_details[employee_id]['salary'] = new_salary
    print(f"Updated details: {employee_details[employee_id]}")
else:
    print("Employee not found.")

Enter the employee ID: E001
Enter the new salary: 7000
Updated details: {'name': 'Alice', 'salary': 7000}

In [91]:
# 92. Nested Dictionary Sorting:
products = {
    'product1': {'price': 10, 'quantity': 5},
    'product2': {'price': 5, 'quantity': 10},
    'product3': {'price': 15, 'quantity': 2}
}
sorted_products = dict(sorted(products.items(), key=lambda item: item[1]['price']))
print("Products Sorted by Price:", sorted_products)

Products Sorted by Price: {'product2': {'price': 5, 'quantity': 10}, 'product1': {'price': 10, 'quantity': 5}, 'product3': {'price': 15, 'quantity': 2}}

In [92]:
# 93. Nested Dictionary Key Search:
nested_dict = {
    'person1': {'name': 'Alice', 'age': 21},
    'person2': {'name': 'Bob', 'age': 22}
}
key_to_search = input("Enter the key to search: ")
if key_to_search in nested_dict:
    print(f"Value: {nested_dict[key_to_search]}")
else:
    print("Key Not Found.")

Enter the key to search: person1
Value: {'name': 'Alice', 'age': 21}

In [93]:
# 94. Prime Number Checker:
num = int(input("Enter a number: "))
is_prime = True
for i in range(2, num):
    if num % i == 0:
        is_prime = False
        break
if is_prime:
    print("Prime")
else:
    print("Not Prime")

Enter a number: 34
Not Prime

In [94]:
# 95. Even Number Printer:
for num in range(1, 21):
    if num % 2 != 0:
        continue
    print(num)

2
4
6
8
10
12
14
16
18
20

In [95]:
# 96. Positive Number Sum:
total_sum = 0
while True:
    number = int(input("Enter a positive number (or a negative number to stop): "))
    if number < 0:
        break
    total_sum += number
print("Sum of all positive numbers entered:", total_sum)

Enter a positive number (or a negative number to stop): 3
Enter a positive number (or a negative number to stop): 4
Enter a positive number (or a negative number to stop): -6
Sum of all positive numbers entered: 7

In [96]:
# 97. Word Palindrome Checker:
word = input("Enter a word: ")
if len(word) < 3:
    print("Word length is less than 3, skipping check.")
else:
    if word == word[::-1]:
        print("The word is a palindrome.")
    else:
        print("The word is not a palindrome.")

Enter a word: door
The word is not a palindrome.

In [97]:
# 98. Odd Number Finder:
numbers = [2, 4, 6, 8, 7, 10]
for num in numbers:
    if num % 2 != 0:
        print("First odd number found:", num)
        break

First odd number found: 7

In [98]:
# 99. Number Guessing Game:
import random

target_number = random.randint(1, 100)
while True:
    guess = int(input("Guess the number between 1 and 100: "))
    if guess == target_number:
        print("Correct! You guessed the number.")
        break
    elif guess < target_number:
        print("Too low! Try again.")
    else:
        print("Too high! Try again.")

Guess the number between 1 and 100: 55
Too high! Try again.
Guess the number between 1 and 100: 54
Too high! Try again.
Guess the number between 1 and 100: 50
Too high! Try again.
Guess the number between 1 and 100: 40
Too high! Try again.
Guess the number between 1 and 100: 30
Too high! Try again.
Guess the number between 1 and 100: 20
Correct! You guessed the number.

In [99]:
# 100. Vowel Counter:
input_string = input("Enter a string: ")
vowels = "aeiou"
vowel_count = 0
for char in input_string:
    if char.lower() in vowels:
        vowel_count += 1
print("Number of vowels in the string:", vowel_count)

Enter a string: I am rownuk
Number of vowels in the string: 4

In [100]:
# 101. Unique Characters:
input_string = input("Enter a string: ")
unique_chars = set()
for char in input_string:
    if char in unique_chars:
        print("The string does not have all unique characters.")
        break
    unique_chars.add(char)
else:
    print("The string has all unique characters.")

Enter a string: machine learning
The string does not have all unique characters.

In [101]:
# 102. Factorial Calculator:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(5))

120

In [102]:
# 103. Palindrome Checker:
def is_palindrome(word):
    return word == word[::-1]
print(is_palindrome("madam"))
print(is_palindrome("hello"))

True
False

In [103]:
# 104. Even or Odd Checker:
def even_or_odd(num):
    return "Even" if num % 2 == 0 else "Odd"
print(even_or_odd(4))
print(even_or_odd(7))

Even
Odd

In [104]:
# 105. List Sum Calculator:
def list_sum(numbers):
    return sum(numbers)
print(list_sum([1, 2, 3, 4, 5]))

15

In [105]:
# 106. Greatest Common Divisor (GCD) Calculator:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a
print(gcd(56, 98))

14

In [106]:
# 107. Leap Year Checker:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

print(is_leap_year(2020))
print(is_leap_year(2023))

True
False

In [107]:
# 108. Math Operations:
def math_operations(a, b, c, operation):
    def add(): return a + b + c
    def subtract(): return a - b - c
    def multiply(): return a * b * c
    def divide(): return a / b / c if b and c != 0 else "Error: Division by zero"

    operations = {'add': add, 'subtract': subtract, 'multiply': multiply, 'divide': divide}
    return operations.get(operation, lambda: "Invalid operation")()

print(math_operations(5, 3, 2, 'add'))
print(math_operations(10, 5, 2, 'subtract'))

10
3

In [108]:
# 109. Greeting Generator:
def greeting_generator(name):
    def greet(): return f"Hello, {name}!"
    def ask_how(): return "How are you today?"

    return greet() + " " + ask_how()

print(greeting_generator("Alice"))

Hello, Alice! How are you today?

In [109]:
# 110. Temperature Converter:
def temperature_converter(temp, scale):
    def celsius_to_fahrenheit(): return (temp * 9/5) + 32
    def fahrenheit_to_celsius(): return (temp - 32) * 5/9

    if scale == 'C':
        return celsius_to_fahrenheit()
    elif scale == 'F':
        return fahrenheit_to_celsius()
    else:
        return "Invalid scale"

print(temperature_converter(100, 'C'))
print(temperature_converter(32, 'F'))

212.0
0.0

In [110]:
# 111. Factorial Calculation (Recursion):
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120

In [111]:
# 112. Fibonacci Series (Recursion):
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(5))

5

In [112]:
# 113. Sum of Digits (Recursion):
def sum_of_digits(n):
    if n == 0:
        return 0
    else:
        return n % 10 + sum_of_digits(n // 10)

print(sum_of_digits(123))

6

In [113]:
# 114. Binary Search (Recursion):
def binary_search(arr, target, low, high):
    if high >= low:
        mid = (high + low) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] > target:
            return binary_search(arr, target, low, mid - 1)
        else:
            return binary_search(arr, target, mid + 1, high)
    else:
        return -1
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(binary_search(arr, 5, 0, len(arr) - 1))

4

In [114]:
# 115. Power Calculation (Recursion):
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)
print(power(2, 3))

8